header, div.under_header{
    width: 96%; /*остальное на padding*/
    height: 75px;
    padding: 0 2%; /* Отступы: сверху и снизу 0, слева и справа 3% */

    background-color: #185CC3;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: stretch; /*Вертикально дочерние элементы занимают все пространство*/
    justify-content: space-between; /*Все дочернии элементы на одинаковом расстоянии друг от друга*/

    z-index: 100;
}

header *{
    color: #FFFFFF; /*цвет шрифта всех дочерних элементов*/
}

div.under_header{
    position: static;
}




nav{
    flex-grow: 1; /*Занимает все пространство родительского при display:flex;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > *{ /*ко всем непосредственным дочерним объектам*/
    flex-grow: 1; /*Одинаковый размер всех элементов на всю длину*/
}




ul.ref_on_pages, ul.ref_on_sign{
    display: flex;
    flex-direction: row;

    font-size: 28px;
}
ul.ref_on_pages > *, ul.ref_on_sign > *{
    margin: 0 10px;
}

.header_logo{
    flex-grow: 1;

    display: flex;
    align-items: stretch;
}
.header_logo *{
    font-size: 48px;
    height: 56px;
}

ul.ref_on_pages{
    flex-grow: 6;
    align-items: center;
}

ul.ref_on_sign{
    flex-grow: 2;

    justify-content: flex-end;
    align-items: center;
}



/*Это нужно поменять с помощью php или js, типа если пользователь авторизовался это показать а авторизацию с входом убрать*/
.header_add_work, .header_user{
    display: none;
}



.header_icon_and_button{
    display: flex;
    align-items: center;
}

img.header_icon{
    width: 18px;
    height: 18px;
}
img.header_search_button_icon{
    width: 30px;
    height: 30px;
}

img.icon_person{
    width: 40px;
    height: 40px;
    filter: invert(1);
    padding: 1px 3px;
}
div.icon_person{

    border-radius: 60px;
    border: 4px solid #FFFFFF;

    margin-left: 10px;
}

/*кнопка регистрации*/
a.reg_button{
    background-color: #FFFFFF;
    color: #185CC3;

    border-radius: 15px;
    border: 4px solid #043785;

    padding: 5px 8px;
}






li.header_search, form.header_search_form{
    display: flex;
}

form.header_search_form{
    display: none;
    /* opacity: 0; */
}

form.header_search_form > input{
    width: 0;
    height: 34px;
    border-radius: 40px;

    border: none; /* Убираем границы */
    outline: none; /* Убираем контур (границу, которая появляется при фокусе) */
    box-shadow: none; /* Убираем тени */

    font-size: 24px;
    color: #043785;

    padding-left: 20px;
}
form.header_search_form > button{
    /* width: 0; */
    background-color: transparent;
    padding-left: 5px;
}

/* .header_search_form > input{
    width: 0px;
    transition: width 2s;
}
li.header_search > div.header_icon_and_button{
    transition: width 2s;
}

li.header_search:hover > div.header_icon_and_button,
li.header_search:focus-within > div.header_icon_and_button{
    display: none;
    opacity: 0;
    width: 0;
}

li.header_search:hover > form.header_search_form,
li.header_search:focus-within > form.header_search_form{
    display: block;
    opacity: 1;
}

li.header_search:hover > form.header_search_form > input,
li.header_search:focus-within > form.header_search_form > input{
    width: 450px;
} */


.header_i_wanna_click {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header_i_wanna_click::before {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;
    right:0;

    height: 5px;
    background: linear-gradient(to top, rgb(15, 77, 157) 10%, rgba(26, 115, 232, 0) 90%);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.8s ease;
}

.header_i_wanna_click:hover::before {
    opacity: 1;
}
